.popup-variado {
    display: none;              /* começa oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7); /* overlay escuro */
    z-index: 2000;
}

/* Conteúdo centralizado */
.popup-content {
    background: #000;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    color: #0f0;
    font-family: 'DM Mono', monospace;
    text-align: center;
    box-shadow: 0 0 10px #0ff;

    position: fixed;
    top: 50%;                   /* centraliza vertical */
    left: 50%;                  /* centraliza horizontal */
    transform: translate(-50%, -50%); /* ajusta para o centro exato */
}
.popup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas iguais */
    gap: 10px 20px; /* espaço entre linhas e colunas */
}

.popup-option {
    display: flex;
    align-items: center;
    gap: 6px;
}

