body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 280px;
    margin: auto;
}

.logo img {
    max-width: 100px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin: 5px 0;
}

.small {
    font-size: 10px;
    text-align: center;
}

hr {
    border: 1px dashed #000;
    margin: 10px 0;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

